.grades_div {
  width: 400px;
}
.grade_input {
  width: 100px;
}
.grades_table th {
  border: 1px solid black;
  color: red;
}
.grade_input {
  border: 0px;
}
.grade_name {
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info_div {
  width: 500px;
}
.grades_table td {
  border: 1px solid black;
}
