.login-div {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.login-form {
  text-align: center;
  padding:20px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
}
body {
  background-color: lightgray;
}
html {
font-family: monospace  ;
}
h1 {
  text-align: center;
  font-size: 72px;
  color: rgb(83, 83, 255);
  margin-top: 50px;
}
.login-text-input {
  border: 2px solid rgb(83, 83, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px;
  outline:none;
}
.login-text-input.username {
  margin-bottom: 10px;
}
.login-btn {
  background-color: #f3f7fe;
  border: none;
  color: #3b82f6;
  transition: .3s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.login-btn:hover {
  background-color: rgb(83, 83, 255);
  box-shadow: 0 0 0 7px rgba(83, 83, 255, 0.356);
  color: #fff;
}
